@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

h3 {
    margin-top: 0.4rem;
}

h2 {
    margin-top: 0.8rem;
}

.container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-internship {
    margin-top: 62.8px;
}

#div-col-left > div {
    position: fixed;
}

#portrait {
    width: 150px;
}

#p-name {
    margin-top: 1em;
    margin-bottom: 1em;
}

#div-personal svg {
    width: 1.5rem;
}

#div-personal span, select {
    margin-left: 16px;
}

#div-personal a:hover {
    cursor: pointer;
}

#a-github {
    color: #333333
}

#a-email {
    color: #0051ff
}

#a-linkedin {
    color: #0077B5
}

#a-mastodon {
    color: #2b90d9;
}

#a-website {
    display: none;
    color: blue;
}

#object-skill {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 600px;
}

#object-skill img {
    width: 600px;
}

#img-skill {
    display: none;
}

.div-languages {
    margin-left: 2em;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-languages img {
    width: 84px;
}

.div-languages span {
    color: #ffbf00;
    margin-left: 1em;
}

.div-languages svg {
    width: 32px;
}

#div-diverse p {
    margin-left: 2em;
}

#div-interest > ul {
    flex-direction: row;
    flex-wrap: wrap;
}

#div-interest li {
    border: none;
    max-width: 600px;
}

#div-spiner > img {
    width: 128px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;  
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

footer, .footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(248, 248, 243, 0.4);
}

footer > .container svg, .footer > .container svg {
    width: 1rem;
}

footer a:hover, .footer a:hover {
    text-decoration: none;
}

@media (min-width: 1281px) {
    #div-col-left > div {
        margin-left: 3rem;
    }

    #portrait {
        width: 200px;
    }

    #div-interest li {
        min-width: 300px;
    }
    
    h2 {
        margin-top: 0.4rem;
    }
    
    #h2-professional-experience {
        margin-top: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #div-col-left > div {
        margin-left: 1rem;
    }

    #div-personal {
        font-size: 0.9rem;
    }

    #div-personal svg {
        width: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #portrait {
        width: 150px;
    }

    #div-personal svg {
        width: 1.5rem;
    }

    #div-personal i::after {
        content: '\a';
        white-space: pre;
    }

    #div-personal > .list-group-item {
        padding: 0.2rem 0;
        text-align: center;
    }

    #div-personal span, select {
        margin: 0 8px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #div-col-left > div {
        position: relative;
    }
}
